<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<h2>Your Pragmatic Cart</h2>
<table>
	<tr>
		<td>Product</td>
		<td>Single price</td>
		<td>&times;</td>
		<td>Total</td>
		<td></td>
	</tr>
	<% @cart.line_items.each do |item| %>
		<tr>
			<td><%= item.product.title %></td>
			<td><%= format_currency_as_chf(item.product.price) %></td>
			<td><%= item.quantity %></td>
			<td><%= format_currency_as_chf(item.total()) %></td>
			<td><%= link_to 'Delete', item, :confirm => "Are you sure?", :method => :delete %></td>
		</tr>
	<% end %>
	<tr class="totalprice">
		<td>Total</td>
		<td></td>
		<td></td>
		<td><%= format_currency_as_chf(@sum) %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
