<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h1>My Pragmatic Catalog</h1>

<% cache ['store', Product.latest] do %>
	<% @products.each do |product| %>
		<% cache ['entry', product] do %>
			<div class="entry">
				<h3><%= product.title %></h3>
				<%= image_tag(product.image_url) %>
				<div class="price_line">
					Price: <span class="price"><%= format_currency_as_chf(product.price) %></span>
				</div>
				<%= button_to 'Add to Cart', line_items_path(product_id: product) %>
			</div>
		<% end %>
	<% end %>
<% end %>
