<!DOCTYPE html>
<html>
<head>
  <title>Webprogshop</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>" role="document">
	<div id="wrapper">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><a href="#">Shop</a></li>

				<li class="<%= is_active?("/") %>"><a href="/">Home</a></li>
				<li class="<%= is_active?("/products") %>"><a href="/products">Products</a></li>
				<li class="<%= is_active?("/carts") %>"><a href="/carts">Carts</a></li>
			</ul>
			<% if @cart %>
				<div id="cart">
					<% @minimize = true %>
					<%= render @cart %>
				</div>
			<% end %>
		</div>

		<div class="container theme-showcase" role="main">
			<a id="menu-toggle" class="btn btn-default" href="#">
				<i class="icon-reorder">
					<img src="/assets/menu.png" alt="Menu toggle"/>
				</i>
			</a>
			<%= yield %>
		</div>
	</div>

	<!-- Custom JavaScript for the Menu Toggle -->
	<script>
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("active");
		});
	</script>
</body>
</html>
